<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
        <ion-icon class="ion-padding" slot="icon-only" name="search-outline"></ion-icon>
        <ion-icon class="ion-padding" slot="icon-only" name="heart-outline"></ion-icon>
        <ion-icon class="ion-padding" slot="icon-only" name="cart-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



</ion-content>
